*.pyc
*.pid
*.log
devserver
neutron.sql3
neutron/settings_local.py
neutron/static/CACHE/
neutron/static/uploads/
pip-log.txt
cert/*.*
_site
start_ide.bsh

.DS_Store

neutron/ide/static/ide/.DS_Store

neutron/ide/templates/.DS_Store
