body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', arial, sans-serif;
}

.mono {
  font-family: 'Droid Sans Mono', "Courier New", courier, monospace;
}

textarea {
  font-family: 'Droid Sans Mono', "Courier New", courier, monospace;
}

.floatr {
  float: right;
}

#current_edit {
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  display: inline-block;
}

#file_browser {
  height: 500px;
}

#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

.editor {
  width: 100%;
  height: 500px;
}

#tabsinner {
  height: 100%;
}

#tabs {
  padding: 0;
  overflow:hidden;
}

#tabs .ui-tabs {
  padding: 0;
  border: 0;
}

#tabs .ui-widget-header {
  border: 0;
  border-bottom: 1px solid #ddd;
}

#tabs .ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#tabs .ui-tabs .ui-tabs-panel {
  padding: 0;
}

ul.jqueryFileTree {
  font-family: 'Ubuntu', arial, sans-serif;
}

#tabsinner ul {
  font-size: 11px;
}

#status {
  float: right;
  color: #f00;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo { font-family: 'VT323', arial, serif; }
#logo {
  font-size: 20px;
  padding-right: 15px;
}

.ui-tabs .ui-tabs-nav li a {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-layout-pane {
  padding: 2px;
}

.ui-layout-north.ui-layout-pane {
  padding: 2px 5px 0 5px;
  background: #DDD;
  border: 0;
}

.ui-layout-resizer.ui-layout-resizer-north {
  height: 2px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
  cursor: pointer;
}

.ui-widget-header {
  background: #ddd;
}

.indent {
  padding-left: 40px;
}

.right_menu {
  border: solid 1px #bbb;
  background-color: #DDD;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 1000;
}

.right_menu a {
  color: #333;
  font-size: 11px;
  line-height: 18px;
  text-decoration: none;
}

.right_menu a:hover {
  background-color: #BDF;
}

.right_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right_menu ul li {
  padding: 2px;
  margin: 0;
}

.right_menu ul li.btop {
  border-top: solid 1px #bbb;
}

.right_menu ul li.fd {
  font-size: 10px;
  text-align: center;
}

.right_menu ul li a {
  display: block;
  width: 120px;
  padding: 3px 0 0 23px;
}

.right_menu ul li a {
  background-repeat: no-repeat;
  background-position: 0px 3px;
}

.right_menu ul li a.new {
  background-image: url(/static/ide/img/new.png);
}

.right_menu ul li a.cancel {
  background-image: url(/static/ide/img/cancel.png);
}

.right_menu ul li a.refresh {
  background-image: url(/static/ide/img/refresh.png);
}

