body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans Mono', "Courier New", courier, monospace;
  overflow: hidden;
  font-size: 13px;
  color: #AAAAAA;
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

img {
  border: 0;
  display: block;
}

#terminal_wrapper {
  text-rendering: optimizeLegibility;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#terminal_wrapper > div {
  padding-right: 34px;
  height: 100%;
}

#terminal {
  height: 100%;
  padding: 2px;
  white-space: pre;
}

#terminal div span {
 padding: 0 0 1px 0; 
}

#icons {
  position: absolute;
  z-index: 15;
  right: 0;
  top: 0;
  border-left: 2px solid #666;
  height: 100%;
  width: 32px;
  padding: 4px 0;
  background-color: rgba(0, 0, 0, 0.85);
}

#icons img {
  margin: 0 auto;
}

#icons img.selected {
  border: 1px solid #dc0000;
}

#input_wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#input_wrapper > div {
  height: 100%;
  padding-right: 34px;
}

#term_input {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  cursor: default;
  resize: none;
}

#input_wrapper.selected {
  z-index: 1;
}

#term_input:focus {
  outline: invert none medium;
}

@keyframes myfirst {
  from {background: red;}
  to {background: black;}
}
  
@-moz-keyframes myfirst {
  from {background: red;}
  to {background: black;}
}
  
@-webkit-keyframes myfirst {
  from {background: red;}
  to {background: black;}
}

.outline span.cursor {
  border: 1px solid #ccc;
  background-color: transparent;
}

span.cursor {
  background-color: #ccc;
}

span.b {
  font-weight: bold;
}

span.i {
  font-style: italic;
}

span.u {
  text-decoration: underline;
}

span.s {
  text-decoration: line-through;
}

span.r {
  
}

span.fgblue {
  color: #5555ff;
}

span.fgblack.cursor {
  color: #fff;
}

.outline span.fgdefault.cursor {
  color: #fff;
}

span.fgdefault.cursor {
  color: black;
}

span.fgblack {
  color: #666;
}

span.fgred {
  color: #dc0000;
}

span.fggreen {
  color: #45D364;
}

span.fgbrown {
  color: orange;
}

span.fgmagenta {
  color: magenta;
}

span.fgcyan {
  color: #00aaaa;
}

span.fgwhite {
  color: white;
}

span.fgwhite.cursor {
  color: black;
}

span.bgblue {
  background-color: #5555ff;
}

span.bgblack {
  background-color: #666;
}

span.bgred {
  background-color: #dc0000;
}

span.bggreen {
  background-color: #45D364;
}

span.bgbrown {
  background-color: orange;
}

span.bgmagenta {
  background-color: magenta;
}

span.bgcyan {
  background-color: #00aaaa;
}

span.bgwhite {
  background-color: white;
}

