{% extends "ide/master.html" %}{% load ntags %}
{% block head %}
{% with pref=request.user.preferences %}
<script type="text/javascript">
  var pref = {
    uitheme: '{{ pref.uitheme }}',
    
    theme: '{{ pref.theme }}',
    fontsize: '{{ pref.fontsize }}',
    keybind: '{{ pref.keybind }}',
    swrap: '{{ pref.swrap }}',
    tabsize: {{ pref.tabsize }},
    
    hactive: {{ pref.hactive|js_bool }},
    hword: {{ pref.hword|js_bool }},
    invisibles: {{ pref.invisibles|js_bool }},
    gutter: {{ pref.gutter|js_bool }},
    pmargin: {{ pref.pmargin|js_bool }},
    softab: {{ pref.softab|js_bool }},
    behave: {{ pref.behave|js_bool }},
    
    save_session: {{ pref.save_session|js_bool }},
  };
  
  var init_session = {{ pref.last_session|safe }};
  var skip_session = true;
  var basedir = "{{ pref.basedir }}";
  var loaded_themes = ['{{ pref.theme }}'];
  var static_url = '{{ STATIC_URL }}';
  var track_ajax = {% if request.track %}true{% else %}false{% endif %};
</script>
<style type="text/css">
  .ace_editor { font-size: {{ pref.fontsize }}; }
</style>
{% endwith %}
{% endblock %}
{% block content %}
<div id="neutron_ui">
  <div id="neutron_menubar">
    <span id="logo" class="logo">Neutron IDE V11.11</span>
    <button class="k-button" onclick="SaveCurrentTab()">Save</button>
    <button class="k-button" onclick="SaveAll()">Save All</button>
    <button class="k-button" onclick="CloseAll()">Close All</button>
    <button id="menu_button" class="k-button" onclick="show_menu()"><img src="{{ STATIC_URL }}ide/img/menu.png" alt="Menu" title="Menu"/></button>
    <div id="current_edit">Welcome to Neutron IDE</div>
    <div id="status"></div>
  </div>
  <div id="neutron_body">
    <div id="splitter">
      <div id="splitter_left">
        <div id="file_browser">
          <a href="javascript: void(0)">File Browser</a>
          <div class="inner"></div>
        </div>
      </div>
      <div id="splitter_right">
        <div id="tabs">
          <div id="tabsinner">
            <ul></ul>
          </div>
        </div>
        <div id="editor_global"></div>
      </div>
    </div>
  </div>
</div>
{% include "ide/right_menu_dir.html" %}
{% endblock %}
{% block footer %}
<div id="main_menu">
  <ul>
    <li><a href="javascript: void(0)" onclick="show_pref()" class="pref">Editor Preferences</a></li>
    <li class="btop">
      <span class="submenu">
        <span class="arrow">&raquo;</span>Help! 
        <ul>
          <li><a href="https://github.com/pizzapanther/Neutron-IDE/wiki/Default-Key-Bindings" target="_blank" onclick="return hide_menu();" class="link">Key Bindings</a></li>
          <li><a href="https://github.com/pizzapanther/Neutron-IDE/wiki/Emacs-Key-Bindings" target="_blank" onclick="return hide_menu();" class="link">EMacs Key Bindings</a></li>
          <li><a href="https://github.com/pizzapanther/Neutron-IDE/wiki/Vim-Key-Bindings" target="_blank" onclick="return hide_menu();" class="link">Vim Key Bindings</a></li>
          <li><a href="http://neutronide.com/" target="_blank" onclick="return hide_menu();" class="link">NeutronIDE.com</a></li>
        </ul>
      </span>
    </li>
    <li><a href="javascript: void(0)" onclick="about()" class="about">About</a></li>
    <li class="btop"><a href="javascript: void(0)" onclick="hide_menu()" class="cancel">Cancel</a>
  </ul>
</div>
{% endblock %}
