{% extends "ide/master.html" %}
{% block head %}
{% with pref=request.user.preferences %}
<script type="text/javascript">
  var pref = {
    theme: '{{ pref.theme }}',
    tabsize: {{ pref.tabsize }},
    hactive: {% if pref.hactive %}true{% else %}false{% endif %},
    softab: {% if pref.softab %}true{% else %}false{% endif %},
  };
  
  var basedir = "{{ pref.basedir }}";
</script>
{% endwith %}
{% endblock %}
{% block content %}
<div class="ui-layout-north">
  <span id="logo" class="logo">Neutron IDE V11.11</span>
  <input type="button" value="Save" onclick="SaveCurrentTab()"/>
  <input type="button" value="Save All" onclick="SaveAll()"/>
  <input type="button" value="Close All" onclick="alert('narf')"/>
  <button id="menu_button" onclick="show_menu()"><img src="{{ STATIC_URL }}ide/img/menu.png" alt="Menu" title="Menu"/></button>
  <div id="main_menu">
    <ul>
      <li><a href="javascript: void(0)" onclick="about()">About</a></li>
    </ul>
  </div>
  <div id="current_edit">Welcome to Neutron IDE</div>
  <div id="status"></div>
</div>
<div id="tabs" class="ui-layout-center">
  <div id="tabsinner">
    <ul></ul>
  </div>
</div>
<div id="file_browser" class="ui-layout-west">
  <a href="javascript: void(0)">File Browser</a>
  <div class="inner"></div>
</div>
{% include "ide/right_menu_dir.html" %}
{% endblock %}
{% block footer %}
<div id="saveall"></div>
{% endblock %}
