<!DOCTYPE html>{% load compress %}
<html> 
  <head> 
    <meta charset="utf-8"/> 
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>{% block title %}Neutron IDE &sdot; {{ request.get_host }}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:light,lightitalic,regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    {% compress css %}
    <link href='{{ STATIC_URL }}ide/css/default.css' rel='stylesheet' type='text/css'>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/jquery.js'></script>
    {% endcompress %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
