<script type="text/javascript">
  $('body').append(
  '<div id="{{ did }}_right" class="right_menu">\
  <ul>\
    <li class="fd">{{ d }}</li>\
    <li class="btop"><a href="javascript: void(0)" onclick="new_stuff(\'{{ d }}\', \'{{ dir|escapejs }}\', \'{{ did }}\')" class="new">New File/Dir</a></li>\
    <li><a href="javascript: void(0)" onclick="refresh_dir(\'{{ did }}\')" class="refresh">Refresh</a></li>\
    <li class="btop"><a href="javascript: void(0)" onclick="$(\'#{{ did }}_right\').css(\'display\', \'none\')" class="cancel">Cancel</a>\
  </ul>\
</div>' 
  );
  $("#{{ did }} > a").rightClick( function(e) {
    var did = "{{ did }}";
    
    $("#{{ did }}_right").css("display", 'block');
    var t = e.pageY - 20;
    $("#{{ did }}_right").css("top", t + 'px');
    
    var ol = e.pageX - 20;
    $("#{{ did }}_right").css("left", ol + 'px');
  });
</script>