<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Terminal &sdot; Neutron IDE</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}ide/img/terminal.png">
    
    <link href='{{ STATIC_URL }}ide/css/kendo_styles/kendo.common.min.css' rel='stylesheet' type='text/css'/>
    <link href='{{ STATIC_URL }}ide/css/kendo_styles/kendo.{{ request.user.preferences.uitheme }}.min.css' id="kendoStyle" rel='stylesheet' type='text/css'/>
    
    <link href='{{ STATIC_URL }}ide/css/terminal_black.css' rel='stylesheet' type='text/css'/>
    <style type="text/css">
      body {
        background-image: url('{{ bg }}');
        font-family: {{ font|safe }};
        font-size: {{ fontsize|safe }};
      }
      
      #terminal {
        font-family: {{ font|safe }};
      }
    </style>
  </head>
  <body>
    <div id="cursor">&nbsp;</div>
    <div id="input_wrapper">
      <div>
        <textarea name="term_input" id="term_input"></textarea>
      </div>
    </div>
    <div id="icons">
      <div class="a" onclick="show_pref()" id="pref_icon">
        <img src="{{ STATIC_URL }}ide/img/term/gears.png" alt="Preferences" title="Preferences">
      </div>
      <div class="a" onclick="select_mode()" id="sel_icon">
        <img src="{{ STATIC_URL }}ide/img/term/sel.png" alt="Select Mode" title="Select Mode">
      </div>
    </div>
    <div id="terminal_wrapper">
      <div>
        <pre id="terminal"><div id="line0"><span>&nbsp;</span></div></pre>
      </div>
    </div>
    <div id="terminal_calc">
      <pre><div><span>&nbsp;</span></div></pre>
    </div>
    <div id="reconnect" class="hidden">
      <input type="button" name="connect" value="Start A New Terminal" onclick="return start_terminal()">
    </div>
    <div id="term_pref">
      <iframe width="100%" height="260" frameBorder="0" scrolling="auto" src="/term_pref/"></iframe>
    </div>
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/jquery.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/kendo.all.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/term/rawinflate.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/common.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}ide/js/terminal.js'></script>
    <script type="text/javascript">
      var ws;
      var cookie_name = '{{ cookie }}';
      
      function start_socket () {
        {% if request.is_secure %}
        ws = new WebSocket("wss://{{ request.get_host }}/websocket");
        {% else %}
        ws = new WebSocket("ws://{{ request.get_host }}/websocket");
        {% endif %}
        ws.onopen = wsopen;
        ws.onmessage = wsmessage;
        ws.onclose = wsclose;
      }
      
      $(window).load(function () { init_term(); start_socket(); });
    </script>
  </body>
</html>
