<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8" /> 
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <title>{{ page.title }} &sdot; Neutron IDE</title>
	  <meta name="keywords" content="" />
	  <meta name="description" content="" />
    <meta name="google-site-verification" content="fYhunKWg2dmNiRkqRUNocJ_HeJ6P_30KTMb3ScqXY1M" />
    <link href='http://fonts.googleapis.com/css?family=VT323&v1' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic&v1' rel='stylesheet' type='text/css'/>
	  <link href="/favicon.ico" rel="shortcut icon" />
	  <link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
	  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/atom.xml"/> 
  </head>
  <body>
    <div class="bodyinner">
    <div id="header">
    	<div id="menu">
    		<ul>
    			<li><a href="https://github.com/pizzapanther/Neutron-IDE/issues">Submit Bugs</a></li>
    			<li><a href="http://groups.google.com/group/neutronide">Google Group</a></li>
    			<li><a href="https://github.com/pizzapanther/Neutron-IDE/wiki">Wiki</a></li>
    			<li><a href="https://github.com/pizzapanther/Neutron-IDE">Source Code</a></li>
          <li><a href="http://demo.neutronide.com/">Demo</a></li>
    			<li{% if page.url == "/about.html" %} class="current_page_item"{% endif %}><a href="/about.html">About</a></li>
          <li{% if page.url == "/index.html" %} class="current_page_item"{% endif %}><a href="/" class="first">Home</a></li>
    		</ul>
    	</div>
    	<!-- end #menu -->
    </div>
    <!-- end #header -->
    <div id="logo">
    	<h1><a href="/">Neutron IDE</a></h1>
    	<p><em>A Personal Web Based IDE</em></p>
    </div>
    <hr />
    <!-- end #logo -->
    <div id="page">
    	<div id="page-bgtop">
    		<div id="page-bgbtm">
    			<div id="content">
    				{{ content }}
    			</div>
    			<!-- end #content -->
    			<div id="sidebar">
    				<ul>
    					<li>
    						<ul>
    							<li>
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="pizzapanther">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                  </li>
    							<li>
    								<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://neutronide.com{{ page.url }}" send="true" layout="button_count" width="300" show_faces="false" colorscheme="dark" font=""></fb:like>
    							</li>
                  <li>
                    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                    <g:plusone size="medium"></g:plusone>
                  </li>
    						</ul>
    					</li>
    					{% if page.url == "/index.html" or page.url == "/about.html" or page.url == "/releases.html"%}{% else %}
    					<li>
    						<h2>Related Posts</h2>
    						<ul>
    							{% for post in site.related_posts limit:5 %}
    							<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    							{% endfor %}
    						</ul>
    					</li>
    					{% endif %}
    				</ul>
    			</div>
    			<!-- end #sidebar -->
          <div class="clear"></div>
    		</div>
    	</div>
    </div>
    <div id="footer">
    	<p>Copyright &copy; 2011 neutronide.com. All rights reserved.</p>
    </div>
    </div>
    <!-- end #footer -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4108685-11']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
